<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="js/vue.js"></script>
    <title></title>
</head>

<body>
    <div id='example'>
        <h1 v-if="!isDataReady">正在加载数据...</h1>
        <ul>
            <li v-for="tmp in list">
                {{tmp}}
            </li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: '#example',
            data: {
                list: [],
                isDataReady: false
            }
        })
        setTimeout(() => {
            console.log(app);
            app.isDataReady = true;
            app.list = [100, 200, 300];
        }, 1000);
    </script>
</body>

</html>